<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TokoKu"
        tools:targetApi="31">
        <activity
            android:name=".ui.team.EmailFragment"
            android:exported="false" />
        <activity
            android:name=".ui.team.GithubFragment"
            android:exported="false" />
        <activity
            android:name=".ui.team.IgFragment"
            android:exported="false" />
        <activity
            android:name=".ui.user.Dasboard"
            android:exported="true" />
        <activity
            android:name=".ui.staff.Staff_Home"
            android:exported="true" />
        <activity
            android:name=".ui.team.Team"
            android:exported="true" />
        <activity
            android:name=".ui.staff.Staff_Login"
            android:exported="true" />
        <activity
            android:name=".ui.user.Register_User"
            android:exported="true" />
        <activity
            android:name=".ui.admin.Home_Admin"
            android:exported="true" />
        <activity
            android:name=".ui.admin.Login_Admin"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TokoKu">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>